In [1]:
side=int(input("enter the side value"))
print(side*side)

enter the side value 5

25

In [2]:
a=int(input("enter the value of number"))
if a%7==0 :
   print("divisible by seven")
else :
   print("not divisible by seven")

enter the value of number 45

not divisible by seven

In [3]:
a=int(input("enter the value of number"))
if a%5==0 :
    if a%7==0:
        print("divisible")
    else:
        print("not divisible ")
else:
    print("not divisible")

enter the value of number 34

not divisible

In [4]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

enter the value of number1 43
enter the value of number2 45

88
-2
1935
0.9555555555555556

In [5]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
c=int(input("enter the value of number3"))
print(a+b+c)

enter the value of number1 3
enter the value of number2 4
enter the value of number3 5

12

In [7]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
print((a+b)*2)

enter the value of number1 45
enter the value of number2 65

220

In [9]:
a=int(input("enter the value of number"))
print(3.14*a*a)

enter the value of number 56

9847.04

In [11]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
c=int(input("enter the value of number3"))
print(b**2-4*a*c)

enter the value of number1 5
enter the value of number2 6
enter the value of number3 7

-104

In [13]:
a=int(input("chose a number 1. for Addition, 2. for subtraction, 3. for multiplication and 4. for division"))

if a==1:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(b+c)
elif a==2:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(b-c)
elif a==3:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(c*b)
elif a==4:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(b/c)
else:
    print("invalid")

chose a number 1. for Addition, 2. for subtraction, 3. for multiplication and 4. for division 4
enter the value of number1 3
enter the value of number2  4

0.75

In [14]:
a=int(input("enter the no.of bonus hours worked in a week"))
b=int(input("enter the rate per hour"))
c=int(input("enter the no.of weeks in a month"))
print(a*b*c)

enter the no.of bonus hours worked in a week 4
enter the rate per hour 5
enter the no.of weeks in a month 6

120

In [15]:
a=float(input("enter the distance between delhi to mumbai"))
velocity=60
#petrol cost per liter=100
b=a/velocity 
c=a*50 #I took 1 liter of pertol is consumed for 2km
print("total time taken to travel from delhi to mumbai :",round(a/velocity,2))
print("total cost of petrol to complete the journey is :",c)

enter the distance between delhi to mumbai 45

total time taken to travel from delhi to mumbai : 0.75
total cost of petrol to complete the journey is : 2250.0

In [17]:
a=str(input("enter a string"))
print(a.count("s"))

enter a string sree

1

In [18]:
a=int(input("enter the number 1"))
b=int(input("enter the number 2"))
c=int(input("enter the number 3"))
if (a>b and a>c):
    print(" number 1 is greatest")
elif (b>a and b>c):
    print("number 2 is greatetst")
else:
    print("number 3 is greatest")

enter the number 1 3
enter the number 2 9
enter the number 3 5

number 2 is greatetst

In [19]:
list=["c","d","a","a","b","b","a"]
list.count("a")

3

In [20]:
list=["c","d","a","a","b","b","a"]
list.sort()
print(list)

['a', 'a', 'a', 'b', 'b', 'c', 'd']

In [21]:
a=float(input("ENTER A NUMBER"))
if a>0 :
    print("positive")
else :
    print("negative")

ENTER A NUMBER 45

positive

In [22]:
a=int(input("ENTER YOUR AGE"))
if a>=18 :
    print("eligible")
else :
    print("not eligible")

ENTER YOUR AGE 54

eligible

a=input("ENTER A CHARECTER")
if (a=='a' or a=='e' or a=='i' or a=='o' or a=='u'):
    print("5 points")
elif a.isdigit() :
    print("10 points")
else :
    print("0 points")

In [23]:
a=str(input("enter a string"))
if a.isupper() :
    print("hi")
else :
    print("hello")

enter a string python

hello

In [24]:
a=float(input("ENTER YOUR WEIGHT IN Kg"))
height=float(input("ENTER YOUR HEIGHT IN M"))
BMI=a/height**2
print(round(BMI,2))
if BMI<18.5 :
    print("underweight")
elif BMI>18.5 and BMI<24.9 :
    print("normal weight")
else :
    print("overweight")

ENTER YOUR WEIGHT IN Kg 34
ENTER YOUR HEIGHT IN M 4.3

1.84
underweight

In [25]:
operation=int(input("1:add,2:sub,3:mul,4:div"))
a=int(input("enter first num"))
b=int(input("enter second num"))
match operation:
     case 1:
         print(a+b)
     case 2:
         print(a-b)
     case 3:
         print(a*b)
     case default:
         print()
print(operation)

1:add,2:sub,3:mul,4:div 2
enter first num 1
enter second num 2

-1
2

In [26]:
a=int(input("ENTER THE YEAR"))
if a%4==0 :
    print("leap year")
else :
    print("not a leap year")

ENTER THE YEAR 2024

leap year

In [27]:
n=1
while n<=10 :
   print(n)
   n=n+2

1
3
5
7
9

In [30]:
rows = 4
cols = 3
matrix1 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i * j)
    matrix1.append(row)
for row in matrix1:
    print(row)
print()
matrix2 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i + j)
    matrix2.append(row)
for row in matrix2:
    print(row)
print()

[0, 0, 0]
[0, 1, 2]
[0, 2, 4]
[0, 3, 6]

[0, 1, 2]
[1, 2, 3]
[2, 3, 4]
[3, 4, 5]

In [31]:
rows = 3
cols = 4
matrix1 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i + j)
    matrix1.append(row)
print(matrix1)

[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5]]

In [34]:
for i in range(1,5):
    for j in range(0,i):
        print(i,end="")
    i=i+1
    print()

1
22
333
4444

In [37]:
for i in range(1,6):
    for j in range(i,6):
        print(i,end="")
    i=i+1
    print()

11111
2222
333
44
5

In [38]:
for i in range(0,5):
    for j in range(5,i,-1):
        print(5-i,end=" ")
    i=i+1
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [39]:
for i in range(0,6):
    for j in range(6,i,-1):
        print((5-j)+1,end=" ")
    i=i+1
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [40]:
for i in range(1,6):
    for j in range(i,6):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    i=i+1
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [41]:
for i in range(0,5):
    for j in range(5,i,-1):
        print(5,end=" ")
    i=i+1
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [44]:
matrix1=[[1,2,3],[1,1,1],[2,3,4]]
matrix2=[[1,1,1],[2,2,2],[3,3,3]]
result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(matrix1)):
    for j in range(len(matrix2)):
        result[i][j]=matrix1[i][j]+matrix2[i][j]
print(result)

[[2, 3, 4], [3, 3, 3], [5, 6, 7]]

In [45]:
for i in range(1,6):
    print(''*(n-1)+'*'*(2*i-1))

*
***
*****
*******
*********

In [47]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end='')
    print()

*****
*****
*****
*****
*****

In [48]:
squares=[x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
import string
input="Hello, world!"
new="data".join(["science","is","fun"])
print(new)
new1="data".join("science")
print(new1)

sciencedataisdatafun
sdatacdataidataedatandatacdatae

In [50]:
string='hello world'
last=string.rfind('o')
print(last)

7

In [51]:
string=["apple",5]
print(string[0])
print(string[1])
print(string)

apple
5
['apple', 5]

In [52]:
def factorial(n):
    if n == 0 or n == 1: 
        return 1
    else:
        return n * factorial(n - 1)
factorial(5)

120

In [ ]:
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)
fibonacci(6)

In [ ]:
def sum_naturalnumber(n):
    if n==1:
        return 1
    else:
        return n+sum_naturalnumber(n-1)
print(sum_naturalnumber(5))

In [ ]:
def power(x,y):
    if y==0:
        return 1
    return x*power(x,y-1)
power(3,4)

In [ ]:
def decimal_to_binary(n):
    if n == 0:
        return ""
    return decimal_to_binary(n // 2) + str(n % 2)
print(decimal_to_binary(10))

In [ ]:
def reverse_string(s):
    if len(s) == 0:
        return ""
    return s[-1] + reverse_string(s[:-1])
print(reverse_string("hello"))

In [ ]:
def product_of_array(arr, n):
    if n == 0:
        return arr[0]
    return arr[n] * product_of_array(arr, n - 1)
print(product_of_array([1, 2, 3, 4], 3))

In [ ]:
pos=-1
def search(list,n) :
    i=0
    while i<len(list):
        if list[i]==n:
            globals()['pos']=i
            return True
        i=i+1
    return False
list=[5,8,4,6,9,2]
n=5
if search(list,n):
    print("Found at",pos+1)
else:
    print("not found")

In [ ]:
def binarysearch(array,x,low,high):
    while low<=high:
        mid=low+(high-low)//2
        if x==array[mid]:
            return mid
        elif x>array[mid]:
            low=mid+1
        else:
            high=mid-1
    return -1
array=[3,4,5,6,7,8,9]
x=4
binarysearch(array,x,0,6)

In [ ]:
#insertion sort
def insertionSort(arr):
    n=len(arr)
    if n<=1:
        return
    for i in range(1,n):
         key=arr[i]
         j=i-1
         while j>=0 and key<arr[j]:
             arr[j+1]=arr[j]
             j-=1
         arr[j+1]=key
arr=[40,20,60,10,50,30]
insertionSort(arr)
print(arr)